{% extends "entrance.html" %}

{% load i18n %}

{% block title %}
  {% trans "Connected Accounts" %}
{% endblock title %}
{% block content %}
  <section class="container mx-auto max-w-lg px-4 py-12">
    <c-lb.text as="h1" size="2xl" class="mb-6 font-bold">
      {% trans "Connected Accounts" %}
    </c-lb.text>
    {% if form.non_field_errors %}
      <c-lb.alert variant="error" class="mb-4">
        {% for err in form.non_field_errors %}<p>{{ err }}</p>{% endfor %}
      </c-lb.alert>
    {% endif %}
    <c-components.social_connections :accounts="form.account.field.queryset" />
  </section>
{% endblock content %}
