{% extends "entrance.html" %}

{% load i18n lb_tags %}

{% block title %}
  {% trans "Set Password" %}
{% endblock title %}
{% block content %}
  <section class="container mx-auto max-w-lg px-4 py-12">
    <c-lb.text as="h1" size="2xl" class="mb-6 font-bold">
      {% trans "Set Password" %}
    </c-lb.text>
    <c-lb.text as="p" variant="neutral" class="mb-4">
      {% trans "Your account doesn't have a password yet. Set one so you can also log in without a social provider." %}
    </c-lb.text>
    {% if form.non_field_errors %}
      <c-lb.alert variant="error" class="mb-4">
        {% for err in form.non_field_errors %}<p>{{ err }}</p>{% endfor %}
      </c-lb.alert>
    {% endif %}
    <form method="post" class="flex flex-col gap-4">
      {% csrf_token %}
      {{ redirect_field }}
      <c-lb.fieldset legend="{% trans 'Password' %}">
        <c-lb.input type="password"
                    name="{{ form.password1.html_name }}"
                    id="{{ form.password1.id_for_label }}"
                    variant="{% if form.password1.errors %}error{% endif %}"
                    required />
        {% if form.password1.errors %}
          <c-lb.validator.hint>
            {{ form.password1.errors|first }}
          </c-lb.validator.hint>
        {% endif %}
      </c-lb.fieldset>
      <c-lb.fieldset legend="{% trans 'Confirm Password' %}">
        <c-lb.input type="password"
                    name="{{ form.password2.html_name }}"
                    id="{{ form.password2.id_for_label }}"
                    variant="{% if form.password2.errors %}error{% endif %}"
                    required />
        {% if form.password2.errors %}
          <c-lb.validator.hint>
            {{ form.password2.errors|first }}
          </c-lb.validator.hint>
        {% endif %}
      </c-lb.fieldset>
      <div>
        <c-lb.button type="submit" variant="primary">
          {% trans "Set Password" %}
        </c-lb.button>
      </div>
    </form>
  </section>
{% endblock content %}
