{% extends "entrance_auth.html" %}

{% load i18n %}

{% block title %}
  {% if token_fail %}
    {% trans "Invalid Reset Link" %}
  {% else %}
    {% trans "Set New Password" %}
  {% endif %}
{% endblock title %}
{% block auth_content %}
  {% if token_fail %}
    <c-lb.text as="h1" size="xl" class="font-bold">
      {% trans "Invalid Password Reset Link" %}
    </c-lb.text>
    <c-lb.alert variant="error">
      <p>{% trans "The password reset link you clicked is invalid or has expired." %}</p>
    </c-lb.alert>
    <c-lb.button as="a"
                 href="{% url 'account_reset_password' %}"
                 variant="primary"
                 class="w-full">
      {% trans "Request New Password Reset" %}
    </c-lb.button>
  {% else %}
    <c-lb.text as="h1" size="xl" class="font-bold">
      {% trans "Set New Password" %}
    </c-lb.text>
    {% if form.non_field_errors %}
      <c-lb.alert variant="error">
        {% for err in form.non_field_errors %}<p>{{ err }}</p>{% endfor %}
      </c-lb.alert>
    {% endif %}
    <form method="post" class="flex flex-col gap-4">
      {% csrf_token %}
      {{ redirect_field }}
      <c-lb.fieldset legend="{% trans 'New Password' %}">
        <c-lb.input type="password"
                    name="{{ form.password1.html_name }}"
                    id="{{ form.password1.id_for_label }}"
                    variant="{% if form.password1.errors %}error{% endif %}"
                    autofocus
                    required />
        {% if form.password1.errors %}
          <c-lb.validator.hint>
            {{ form.password1.errors|first }}
          </c-lb.validator.hint>
        {% endif %}
      </c-lb.fieldset>
      <c-lb.fieldset legend="{% trans 'Confirm New Password' %}">
        <c-lb.input type="password"
                    name="{{ form.password2.html_name }}"
                    id="{{ form.password2.id_for_label }}"
                    variant="{% if form.password2.errors %}error{% endif %}"
                    required />
        {% if form.password2.errors %}
          <c-lb.validator.hint>
            {{ form.password2.errors|first }}
          </c-lb.validator.hint>
        {% endif %}
      </c-lb.fieldset>
      <c-lb.button type="submit" variant="primary" class="w-full">
        {% trans "Set New Password" %}
      </c-lb.button>
    </form>
  {% endif %}
{% endblock auth_content %}
