{% extends "entrance_auth.html" %}

{% load i18n %}

{% block title %}
  {% trans "Password Reset" %}
{% endblock title %}
{% block auth_content %}
  <c-lb.text as="h1" size="xl" class="font-bold">
    {% trans "Check Your Email" %}
  </c-lb.text>
  <c-lb.alert variant="info">
    <p>{% trans "We have sent you an email. If you have not received it, please check your spam folder." %}</p>
  </c-lb.alert>
  <c-lb.button as="a"
               href="{% url 'account_login' %}"
               btnStyle="ghost"
               class="w-full">
    {% trans "Back to Log In" %}
  </c-lb.button>
{% endblock auth_content %}
