{% extends "entrance_auth.html" %}

{% load i18n %}

{% block title %}
  {% trans "Password Reset" %}
{% endblock title %}
{% block auth_content %}
  <c-lb.text as="h1" size="xl" class="font-bold">
    {% trans "Password Changed" %}
  </c-lb.text>
  <c-lb.alert variant="success">
    <p>{% trans "Your password is now changed." %}</p>
  </c-lb.alert>
  <c-lb.button as="a"
               href="{% url 'account_login' %}"
               variant="primary"
               class="w-full">
    {% trans "Log In" %}
  </c-lb.button>
{% endblock auth_content %}
