{% extends "entrance_auth.html" %}

{% load i18n %}

{% block title %}
  {% trans "Confirm Access" %}
{% endblock title %}
{% block auth_content %}
  <c-lb.text as="h1" size="xl" class="font-bold">
    {% trans "Confirm Access" %}
  </c-lb.text>
  <c-lb.text as="p" variant="neutral">
    {% trans "Enter your password to continue." %}
  </c-lb.text>
  {% if form.non_field_errors %}
    <c-lb.alert variant="error">
      {% for err in form.non_field_errors %}<p>{{ err }}</p>{% endfor %}
    </c-lb.alert>
  {% endif %}
  <form method="post" class="flex flex-col gap-4">
    {% csrf_token %}
    {{ redirect_field }}
    <c-lb.fieldset legend="{% trans 'Password' %}">
      <c-lb.input type="password"
                  name="{{ form.password.html_name }}"
                  id="{{ form.password.id_for_label }}"
                  variant="{% if form.password.errors %}error{% endif %}"
                  autofocus
                  required />
      {% if form.password.errors %}
        <c-lb.validator.hint>
          {{ form.password.errors|first }}
        </c-lb.validator.hint>
      {% endif %}
    </c-lb.fieldset>
    <c-lb.button type="submit" variant="primary" class="w-full">
      {% trans "Confirm" %}
    </c-lb.button>
  </form>
{% endblock auth_content %}
