{% load i18n lb_tags %}

<c-lb.navbar class="sticky top-0 z-40 bg-base-100 shadow-sm">
  <c-lb.navbar.start>
    <c-lb.drawer.toggle for="app-drawer"
                        class="btn btn-ghost btn-sm lg:hidden"
                        aria-label="{% trans 'Open menu' %}">
      <c-lbi n="rmx.menu" w="1.5em" h="1.5em" />
    </c-lb.drawer.toggle>
    <c-lb.link as="a"
               href="{% url 'core:home' %}"
               class="px-2 text-lg font-bold no-underline">
      {% trans "Your Online Store" %}
    </c-lb.link>
  </c-lb.navbar.start>
  {% comment %} <c-lb.navbar.center class="hidden lg:flex">
    <c-lb.menu direction="horizontal">
      <c-lb.menu.item href="{% url 'catalogue:index' %}">
        {% trans "Browse" %}
      </c-lb.menu.item>
    </c-lb.menu>
  </c-lb.navbar.center> {% endcomment %}
  <c-lb.navbar.end>
    <c-lb.dropdown alignment="start" size="sm">
      <c-lb.dropdown.trigger class="btn btn-sm">
        <c-lbi n="rmx.sun" w="1.5em" h="1.5em" />
      </c-lb.dropdown.trigger>
      <c-lb.dropdown.content class="bg-base-100 rounded-box w-52 shadow-md border border-base-200">
        <c-lb.menu class="w-full">
          <input type="radio"
                 name="theme"
                 value="labb-light"
                 class="theme-controller btn btn-ghost btn-sm justify-start"
                 aria-label="Light" />
          <input type="radio"
                 name="theme"
                 value="labb-dark"
                 class="theme-controller btn btn-ghost btn-sm justify-start"
                 aria-label="Dark" />
          <input type="radio"
                 name="theme"
                 value="light"
                 class="theme-controller btn btn-ghost btn-sm justify-start"
                 aria-label="Daisy Light" />
          <input type="radio"
                 name="theme"
                 value="dark"
                 class="theme-controller btn btn-ghost btn-sm justify-start"
                 aria-label="Daisy Dark" />
        </c-lb.menu>
      </c-lb.dropdown.content>
    </c-lb.dropdown>
    <c-lb.indicator>
      <c-components.badge.cart />
      <c-lb.button as="a"
                   href="{% url 'shopping:cart' %}"
                   btnStyle="ghost"
                   size="sm"
                   aria-label="{% trans 'Cart' %}">
        <c-lbi n="rmx.shopping-cart" w="1.5em" h="1.5em" />
      </c-lb.button>
    </c-lb.indicator>
    {% if user.is_authenticated %}
      <c-lb.dropdown alignment="end">
        <c-lb.dropdown.trigger>
          <c-lb.button btnStyle="ghost" size="sm">
            <c-lbi n="rmx.user" w="1.5em" h="1.5em" />
          </c-lb.button>
        </c-lb.dropdown.trigger>
        <c-lb.dropdown.content class="w-48">
          <c-lb.menu class="w-full">
            <c-lb.menu.item href="{% url 'customers:dashboard' %}">
              {% trans "Account" %}
            </c-lb.menu.item>
            <c-lb.menu.item href="{% url 'orders:history' %}">
              {% trans "Orders" %}
            </c-lb.menu.item>
            <c-lb.menu.item href="{% url 'customers:wishlist' %}">
              {% trans "Wishlist" %}
            </c-lb.menu.item>
            {% if user.is_staff %}
              <c-lb.menu.item href="{% url 'admin:index' %}">
                {% trans "Admin" %}
              </c-lb.menu.item>
            {% endif %}
            <c-lb.menu.item href="{% url 'account_logout' %}">
              {% trans "Log Out" %}
            </c-lb.menu.item>
          </c-lb.menu>
        </c-lb.dropdown.content>
      </c-lb.dropdown>
    {% else %}
      <c-lb.button as="a"
                   href="{% url 'account_login' %}"
                   btnStyle="ghost"
                   size="sm"
                   aria-label="{% trans 'Log In' %}">
        <c-lbi n="rmx.user" w="1.5em" h="1.5em" />
      </c-lb.button>
    {% endif %}
  </c-lb.navbar.end>
</c-lb.navbar>
