{% load static i18n compress lb_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% labb_theme %}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        {% trans "Title" %}
      {% endblock title %}
    </title>
    <meta name="description" content="{% trans "Description" %}" />
    <c-lb.m.dependencies setThemeEndpoint="{% url 'set_theme' %}" alpine />
    {% block css %}
      {% compress css %}
        <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      {% endcompress %}
    {% endblock css %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="{% block bodyclass %}min-h-screen bg-base-100 text-base-content grainy-bg antialiased{% endblock bodyclass %}">
    {% block body %}
      {% block navbar %}
      {% endblock navbar %}
      <main id="main-content" class="flex-1">
        {% block main %}
          {% block content %}
            <c-lb.text as="p" size="2xl">
              {% trans "Use this document as a base template for the application." %}
            </c-lb.text>
          {% endblock content %}
        {% endblock main %}
      </main>
      {% block footer %}
      {% endblock footer %}
      {% block modal %}
      {% endblock modal %}
    {% endblock body %}
    {% block javascript %}
      {% compress js %}
        <script defer src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
    {% block inline_javascript %}
    {% endblock inline_javascript %}
  </body>
</html>
