{% load lb_tags %}

<c-vars status="" />
{% if status == "PENDING" %}
  <c-lb.badge variant="neutral">
    {{ status }}
  </c-lb.badge>
{% elif status == "PROCESSING" %}
  <c-lb.badge variant="info">
    {{ status }}
  </c-lb.badge>
{% elif status == "SHIPPED" %}
  <c-lb.badge variant="primary">
    {{ status }}
  </c-lb.badge>
{% elif status == "DELIVERED" %}
  <c-lb.badge variant="success">
    {{ status }}
  </c-lb.badge>
{% elif status == "CANCELLED" %}
  <c-lb.badge variant="error">
    {{ status }}
  </c-lb.badge>
{% elif status == "REFUNDED" %}
  <c-lb.badge variant="warning">
    {{ status }}
  </c-lb.badge>
{% else %}
  <c-lb.badge variant="neutral">
    {{ status }}
  </c-lb.badge>
{% endif %}
